<div class="card">
  <mat-checkbox readonly="readonly" [checked]=recipeAttributes.vegetarian>
    vegetarian
  </mat-checkbox>
  <mat-checkbox readonly="readonly" [checked]=recipeAttributes.vegan>
    vegan
  </mat-checkbox>
  <mat-checkbox readonly="readonly" [checked]=recipeAttributes.glutenFree>
    gluten free
  </mat-checkbox>
  <mat-checkbox readonly="readonly" [checked]=recipeAttributes.dairyFree>
    dairy free
  </mat-checkbox>
  <mat-checkbox readonly="readonly" [checked]=recipeAttributes.veryHealthy>
    very healthy
  </mat-checkbox>
</div>