<div class="welcome-container" fxLayout="row wrap" fxLayoutGap="2em">
  <div>
    <a [routerLink]="['/searchByIngredients']">
      <div class="welcome-card">
        <div class="welcome-card-title">Search by incredients</div>
        <img class="welcome-card-image" src="../../../assets/incredients.jpg" />
        <div class="welcome-card-text">
          Search for any combination of incredients. E.g. basil, chicken,
          tomatos...
        </div>
      </div>
    </a>
  </div>
  <div>
    <a [routerLink]="['/searchByRecipe']">
      <div class="welcome-card">
        <div class="welcome-card-title">Search by recipe name</div>
        <img class="welcome-card-image" src="../../../assets/recipes.jpg" />
        <div class="welcome-card-text">
          Search for a recipe name. E.g. lasagne, steak, salad...
        </div>
      </div>
    </a>
  </div>
  <div>
    <a [routerLink]="['/searchByGrape']">
      <div class="welcome-card">
        <div class="welcome-card-title">Search by grape</div>
        <img class="welcome-card-image" src="../../../assets/grapes.jpg" />
        <div class="welcome-card-text">
          Search for a grape name. E.g. merlot, pinot noir, syrah...
        </div>
      </div>
    </a>
  </div>
</div>
<div class="welcome-container" fxLayout="row wrap" fxLayoutGap="2em">
    <div class="quote">
      <h2>Did you know?</h2>
      <blockquote>"{{ trivia }}"</blockquote>
    </div>
  </div>
<h1>Recipes of the day</h1>
<div
  class="welcome-container" fxLayout="blockquote"
  fxLayoutAlign="center">
 
  <recipe-overview [recipes]="recipes" *ngIf="!isLoading"></recipe-overview>
</div>
