.bg-div {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  /* The image used */
  background-image: url("/src/assets/background.jpg");
  min-height: 850px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 400%;
  margin: 30px;
  color: whitesmoke
}

h3 {
  font-size: 120%;
  margin: 30px;
  color: whitesmoke
}