<div>
  <div>
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let ingredient of ingredients" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(ingredient)">
            {{ingredient}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Ingredients..."
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <button (click)="onButtonClick($event)">Search</button>
  </div>
  <div>
    <div *ngFor="let recipe of recipes">
        <recipe-card [recipe]="recipe"></recipe-card>
    </div>
  </div>
</div>
