<yummy-post-it-note fxFlex="<grow>" title="Additional Information">
  <mat-expansion-panel class="expansion-panel" [disabled]="isWinePairingPanelDisabled()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wine Pairings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <yummy-wine-pairing [winePairing]="winePairing"></yummy-wine-pairing>
  </mat-expansion-panel>
  <mat-expansion-panel class="expansion-panel" (opened)="onNutritionPanelOpen()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Estimated Nutrition
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <yummy-nutrition *ngIf="nutrition" [nutrition]="nutrition"></yummy-nutrition>
  </mat-expansion-panel>
</yummy-post-it-note>