<div data-test-selector="search-by-recipe-component">
  <yummy-autocomplete-single-search
    [placeholder]="'Search recipe...'"
    [autocompletionCallback]="autoComplete"
    [preselectedValue]="preselectedRecipe"
    (resultChanged)="recipeChanged($event)">
  </yummy-autocomplete-single-search>
  <yummy-recipe-results 
    [recipes]="recipes"
    [isLoading]="isLoading"
    [totalResults]="totalResults"
    [canLoadMore]="true"
    (loadMoreButtonPressed)="loadMore()">
  </yummy-recipe-results>
</div>