<div class="bg">
  <div *ngIf="recipeDetail" class="shortDiv">

    <h1>{{recipeDetail.title}}</h1>
    <h2>Minutes: {{recipeDetail.cookingMinutes}}</h2>
    <!-- <h4>{{recipeDetail.instructions}}</h4> -->
    <!-- <mat-checkbox [checked]=recipeDetail.vegetarian>
      vegetarian
    </mat-checkbox>
    <mat-checkbox [checked]=recipeDetail.vegan>
      vegan
    </mat-checkbox>
    <mat-checkbox [checked]=recipeDetail.glutenFree>
      glutenFree
    </mat-checkbox> -->
    <img class="card" src={{recipeDetail.image}} />
    <incredients-list [incredients]="recipeDetail.ingredients"></incredients-list>

  </div>