<div class="bg">
  <div *ngIf="recipeDetail" class="shortDiv">

    <h1>{{recipeDetail.title}}</h1>
    <div>
    <mat-icon class="icon">timer</mat-icon> <h3> prep: {{recipeDetail.preparationMinutes}} minutes</h3>
    <mat-icon class="icon">timer</mat-icon> <h3> cook: {{recipeDetail.cookingMinutes}} minutes</h3>
    </div>
    <img class="card" src={{recipeDetail.image}} />
    <recipe-attributes [recipeAttributes]="recipeDetail.recipeAttributes"></recipe-attributes>
    <ingredients-list [ingredients]="recipeDetail.ingredients"></ingredients-list>
    <instruction-list [instructions]="recipeDetail.instructions"></instruction-list>
  </div>