<div class="bg">
  <div *ngIf="recipeDetail" class="shortDiv">

    <h1>{{recipeDetail.title}}</h1>

    <div>
      <mat-icon class="icon">timer</mat-icon>
      <h3> prep: {{recipeDetail.preparationMinutes}} minutes</h3>
      <mat-icon class="icon">timer</mat-icon>
      <h3> cook: {{recipeDetail.cookingMinutes}} minutes</h3>
      <mat-button-toggle value="favorite">
        <mat-icon>favorite</mat-icon>
      </mat-button-toggle>
    </div>
    <img class="card" src={{recipeDetail.image}} />
    <recipe-attributes [recipeAttributes]="recipeDetail.recipeAttributes"></recipe-attributes>
    <ingredients-list [ingredients]="recipeDetail.ingredients"></ingredients-list>
    <instructions-list [instructions]="recipeDetail.instructions"></instructions-list>
    <mat-expansion-panel [disabled]="isWinePairingPanelDisabled()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wine Pairings
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-wine-pairing [winePairing] = "recipeDetail.winePairing"></app-wine-pairing>
    </mat-expansion-panel>
    <mat-expansion-panel [disabled]="isNutritionPanelDisabled()" (opened)=onNutritionPanelOpen() (closed)=onNutritionPanelClose()>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Estimated Nutrition
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-nutrition [nutrition] = "nutrition"></app-nutrition>
      </mat-expansion-panel>
  </div>