<div>
  <div *ngIf="recipeDetail" data-test-selector="recipe-detail-component">
    <h1 data-test-selector="recipe-detail-title">{{recipeDetail.title}}</h1>
    <div *ngIf="recipeDetail.preparationMinutes && recipeDetail.cookingMinutes" fxLayout="column" fxLayoutGap="1em">
      <app-step-duration [step]="'Preparation'" [duration]="recipeDetail.preparationMinutes"></app-step-duration>
      <app-step-duration [step]="'Cooking'" [duration]="recipeDetail.cookingMinutes"></app-step-duration>
    </div>
    <mat-button-toggle *ngIf="shouldDisplayFavoriteButton()" [checked]="isFavorite" (change)="onFavoriteChange(value)" class="favorite-button">
      <mat-icon>favorite</mat-icon>
    </mat-button-toggle>
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2em">
          <ingredients-list fxFlex="25%" [ingredients]="recipeDetail.ingredients" data-test-selector="recipe-detail-ingredients-list"></ingredients-list>
          <app-post-it-note>
            <img src={{recipeDetail.image}} data-test-selector="recipe-detail-img" />
          </app-post-it-note>
          <instructions-list fxFlex="35%" [instructions]="recipeDetail.instructions" data-test-selector="recipe-detail-instructions-list"></instructions-list>
      </div>
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2em">
        <recipe-attributes fxFlexOffset="2em" [recipeAttributes]="recipeDetail.recipeAttributes" data-test-selector="recipe-detail-attributes"></recipe-attributes>
        <div class="expansion-panel-margin">
          <mat-expansion-panel class="expansion-panel" [disabled]="isWinePairingPanelDisabled()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Wine Pairings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-wine-pairing [winePairing]="recipeDetail.winePairing"></app-wine-pairing>
          </mat-expansion-panel>
          <mat-expansion-panel class="expansion-panel" [disabled]="isNutritionPanelDisabled()" (opened)=onNutritionPanelOpen()>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Estimated Nutrition
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-spinner *ngIf="!nutrition"></mat-spinner>
            <app-nutrition [nutrition]="nutrition"></app-nutrition>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>