<div>
  <div *ngIf="recipeDetail">

    <h1>{{recipeDetail.title}}</h1>

    <div>
      <mat-icon class="icon">timer</mat-icon>
      <h3> prep: {{recipeDetail.preparationMinutes}} minutes</h3>
      <mat-icon class="icon">timer</mat-icon>
      <h3> cook: {{recipeDetail.cookingMinutes}} minutes</h3>
      <mat-button-toggle  value="IsFavorite" (change)="onFavoriteChange(value)">
        <mat-icon>favorite</mat-icon>
      </mat-button-toggle>
    </div>
    <div fxLayout="column" fxLayoutGap="2em">
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2em">
        <div fxLayout="column">
          <ingredients-list class="card" [ingredients]="recipeDetail.ingredients"></ingredients-list>
          <recipe-attributes  class="card" fxFlexOffset="2em" [recipeAttributes]="recipeDetail.recipeAttributes"></recipe-attributes>
        </div>
        <div class="card">
          <img src={{recipeDetail.image}} />
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="2em">
        <instructions-list class="card" [instructions]="recipeDetail.instructions"></instructions-list>
        <div>
          <mat-expansion-panel class="expansion-panel" [disabled]="isWinePairingPanelDisabled()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Wine Pairings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-wine-pairing [winePairing] = "recipeDetail.winePairing"></app-wine-pairing>
          </mat-expansion-panel>
          <mat-expansion-panel class="expansion-panel" [disabled]="isNutritionPanelDisabled()" (opened)=onNutritionPanelOpen() (closed)=onNutritionPanelClose()>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Estimated Nutrition
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-nutrition [nutrition] = "nutrition"></app-nutrition>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>