<div data-test-selector="search-by-ingredients-component">
  <yummy-autocomplete-multi-search
    [placeholder]="'Search ingredients...'"
    [autocompletionCallback]="autoComplete"
    [preselectedChips]="preselectedIngredients$"
    (chipListChanged)="updateRecipes($event)">
  </yummy-autocomplete-multi-search>
  <yummy-recipe-results
    [recipes]="recipes"
    [totalResults]="totalResults"
    [isLoading]="isLoading"
    [canLoadMore]="true"
    (loadMoreButtonPressed)="loadMore()">
  </yummy-recipe-results>
</div>