@import '~@angular/material/theming';
@import 'yummy-variables';

$custom-typography: mat-typography-config(
  $font-family: $default-font-family
);

@include mat-core($custom-typography);

$yummy-app-primary: mat-palette($mat-green, 700, 200, 900);
$yummy-app-secondary:  mat-palette($mat-deep-purple, 700, 200, 900);
$yummy-app-warn:    mat-palette($mat-red);
$yummy-app-theme: mat-dark-theme($yummy-app-primary, $yummy-app-secondary, $yummy-app-warn);

@include angular-material-theme($yummy-app-theme);
