@import "yummy-variables";

@font-face {
  font-display: swap;
  font-family: "Indie Flower";
  src: url("https://fonts.gstatic.com/s/indieflower/v9/m8JVjfNVeKWVnh3QMuKkFcZVaUuH99GUDg.woff2");
}

:root {
  box-sizing: border-box;
  overflow: hidden;
}

* {
  box-sizing: inherit;
  font-family: "Indie Flower";
  color: $color-whitesmoke;
}

body {
  background-color: $color-dark-grey;
  margin: 0.6em;
}

main {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 0em;
  margin-bottom: 0.75em;
}

h2 {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.grid-container {
  display: grid;
  grid-template-rows: 4em 1fr;
  grid-row-gap: 0.8em;
  height: 96vh;
}

.grid-item-header {
  grid-row: 1/2;
}

.grid-item-main {
  grid-row: 2/3;
  overflow: auto;
}

.recipe-card {
  margin-top: 1em;
  margin-bottom: 1em;
  min-width: 18em;
  max-width: 30em;
  min-height: 25em;
}

.recipe-card:hover {
  background: $color-light-grey;
}

.card {
  background: #b1b1b134;
  border-radius: 1em;
  min-width: 18em;
  max-width: 30em;
  padding: 1.5em;
}

.margin-top-m {
  margin-top: 1em;
}

.autocomplete-search {
  width: 100%;
}

.numberCircle {
  border-radius: 50%;
  min-width: 28px;
  height: 28px;
  font-size: 120%;
  padding: 4px, 4px;
  background: #fff;
  border: 1px solid #666;
  color: #666;
}

.avatar-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.navigation-menu {
  min-width: 6em;
}

.expansion-panel {
  background: $color-grey;
  min-width: 18em;
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: $color-green;
  margin: 10px;
}

.underline-lable {
  text-decoration: underline;
}

.attribute-div {
  min-width: 150px;
}

.green-icon {
  color: $color-green;
  vertical-align: middle;
  margin: 10px;
}

.red-icon {
  color: $color-red;
  vertical-align: middle;
  margin: 10px;
}

.trivia {
  width: 50%;
}

.font-bold {
  font-weight: bold;
}

.slider {
  width: 100%;
}

.post-it-container {
  margin-top: 2em;
  padding: 1.5em;
  background: #b1b1b134;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.post-it-content {
  color: $color-whitesmoke;
}

.post-it-pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: relative;
  top: -1.8em;
  left: 50%;
  z-index: 1;
}

.post-it-pin:after {
  background-color: #81c784;
  background-image: radial-gradient(
    circle,
    25%,
    25%,
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 0%, 0.3)
  );
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1),
    inset 3px 3px 3px hsla(0, 0%, 100%, 0.2),
    inset -3px -3px 3px hsla(0, 0%, 0%, 0.2),
    23px 20px 3px hsla(0, 0%, 0%, 0.15);
  content: "";
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.post-it-pin:before {
  background-color: hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
  content: "";

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.quote {
  background-color: #388e3c;
  border-radius: 10px;
  margin: 0;
  max-width: 800px;
  margin: 2em;
  padding: 20px;
  font-size: 20px;
}
.welcome-container {
  justify-content: center;
  align-items: center;
}

.welcome-card {
  background-color: $color-whitesmoke;
  margin: 20px;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 300px;
  overflow: hidden;
  width: 350px;
}

.welcome-card:hover {
  background: $color-light-grey;
}

.welcome-card-title {
  color: $color-green;
  font-weight: bold;
  font-size: 24px;
  margin: 10px;
  vertical-align: top;
  text-align: center;
}

.welcome-card-text {
  color: $color-green;
  font-size: 18px;
  margin: 5px;
  vertical-align: bottom;
  text-align: center;
}

.welcome-card-image {
  height: 150px;
  opacity: 0.6;
}
