<div *ngIf="nutrition" fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="7em">Calories</div>
    <div>{{nutrition.calories.value}} {{nutrition.calories.unit}}</div>
  </div>
  <div fxLayout="row">
    <div fxFlex="7em">Fat</div>
    <div>{{nutrition.fat.value}} {{nutrition.fat.unit}}</div>
  </div>
  <div fxLayout="row">
    <div fxFlex="7em">Protein</div>
    <div>{{nutrition.protein.value}} {{nutrition.protein.unit}}</div>
  </div>
  <div fxLayout="row">
    <div fxFlex="7em">Carbs</div>
    <div>{{nutrition.carbs.value}} {{nutrition.carbs.unit}}</div>
  </div>
</div>
