<mat-card class="recipe-card">
    <a routerLink="/detail/{{recipe.id}}">
        <mat-card-header>
            <mat-card-title>
                <span data-test-selector="recipe-card-title">{{recipe.title}}</span>
            </mat-card-title>
            <mat-card-subtitle data-test-selector="recipe-card-likes">{{recipe.likes}} Likes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{recipe.image}} data-test-selector="recipe-card-img"/>
    </a>
    <mat-card-actions>
        <mat-button-toggle [checked]="IsFavorite" (change)="onFavoriteChange()" class="favorite-button">
            <mat-icon>favorite</mat-icon>
        </mat-button-toggle>
    </mat-card-actions>
</mat-card>