<mat-card>
    <a routerLink="/detail/{{recipe.id}}">
        <mat-card-header>
            <mat-card-title>
                <span class="mat-card-title">{{recipe.title}}</span>
            </mat-card-title>
            <mat-card-subtitle>{{recipe.likes}} Likes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{recipe.image}}/>
    </a>
    <mat-card-actions>
        <mat-button-toggle [checked]="IsFavorite" (change)="onFavoriteChange(value)">
            <mat-icon>favorite</mat-icon>
        </mat-button-toggle>
    </mat-card-actions>
</mat-card>