<button mat-icon-button [matMenuTriggerFor]="menuUser">
  <mat-icon *ngIf="!authService.isLoggedIn">person_outline</mat-icon>
  <img *ngIf="authService.isLoggedIn" class="avatar-image" src={{authService.userProfile.picture}}>
</button>
<mat-menu #menuUser="matMenu">
  <div *ngIf="authService.isLoggedIn">
    <button mat-menu-item [routerLink]="['/favorites']">
      <mat-icon class="icon">favorites</mat-icon>
      Favorites
    </button>
    <button mat-menu-item [routerLink]="['/preferences']">
      <mat-icon class="icon">settings</mat-icon>
      Preferences
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="authService.logout()">
      Log Out
    </button>
  </div>
  <button mat-menu-item *ngIf="!authService.isLoggedIn" (click)="authService.login()">
    Log In
  </button>
</mat-menu>