.table {
  background: #a19d9d34;
  border-radius: 5px;
  color: whitesmoke;
  margin: 1rem;
  width: 400px;
  padding: 10px;
  font-family: 'Indie Flower';
}

.td1 {
  margin: 3px;
  text-align: left;
  font-weight: bold;
  min-width: 150px;
}

.td2 {
  margin: 3px;
  text-align: left;
  min-width: 300px;
}
