.entry {
  display: inline-block;
}

.numberCircle {
  margin-right: 20px;
  float: left;
  border-radius: 50%;
  min-width: 28px;
  height: 28px;
  font-size: 120%;
  padding: 4px, 4px;
  background: #fff;
  border: 1px solid #666;
  color: #666;
  text-align: center;
}