@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-display: swap;
  font-family: "Indie Flower";
  src: url("https://fonts.gstatic.com/s/indieflower/v9/m8JVjfNVeKWVnh3QMuKkFcZVaUuH99GUDg.woff2");
}

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Indie Flower';
  color: whitesmoke;
}

body {
  height: 100vh;
  background-image: url("/src/assets/background_greyscale.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.card {
  background: #a19d9d34;
  border-radius: 1em;
  width: 38em;
  padding: 2em;
}

.grid-container {
  display: grid;
  grid-template-rows: 5em 1fr; 
  grid-column-gap: 0.8em;
  height: 100vh
}

.grid-item-header {
  grid-row: 1/2;
}

.grid-item-main {
  grid-row: 2/3;
  overflow: auto;
}

.margin-top-m {
  margin-top: 1em;
}

