@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Indie+Flower";

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Indie Flower';
  color: whitesmoke;
}

body {
  height: 100vh;
  background-image: url("/src/assets/background_greyscale.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.card {
  background: #a19d9d34;
  border-radius: 5px;
  width: 40em;
  padding: 2em;
}

