<nav>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="end center">
    <div fxFlex="<grow>">yummy</div>
    <div fxLayout="row" class="navigation-menu">
      <div fxLayoutAlign="cross-axis: center">
          <button mat-icon-button [routerLink]="['']" data-test-selector="menu-home-button">
              <mat-icon>home</mat-icon>
            </button>
      </div>
      <yummy-menu-search fxLayoutAlign="cross-axis: center"></yummy-menu-search>
      <yummy-menu-user fxLayoutAlign="cross-axis: center"></yummy-menu-user>
    </div>
  </mat-toolbar>
</nav>
