<nav>
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="end center">
    <div fxFlex="<grow>">yummy</div>
    <div fxLayout="row" class="navigation-menu">
      <button fxLayoutAlign="cross-axis: center" mat-icon-button [routerLink]="['']" data-test-selector="menu-home-button">
        <mat-icon>home</mat-icon>
      </button>
      <app-menu-search fxLayoutAlign="cross-axis: center"></app-menu-search>
      <app-menu-user fxLayoutAlign="cross-axis: center"></app-menu-user>
    </div>
  </mat-toolbar>
</nav>
